<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header style="background-color: #1e2a31">

        <div class="container" style="height: 130px;">
            <div class="row" style="height: inherit">

                <div class="col-md d-flex justify-content-center align-items-center text-white">
                    <img src="~/Image/logo.png" class="d-none d-sm-block" />
                </div>


                <div class="col-sm d-flex justify-content-center align-items-center">
                    <div class="input-group" style="max-width: 400px">
                        <input type="text" class="form-control" placeholder="Vad fan letar du efter?" aria-label="hitta våra prylar" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm d-flex justify-content-center align-items-center text-white">

                    <div style="background-color: #2b3c46; border-radius: 2px; display: flex; padding: 4px; padding-left: 4px; padding-right: 4px; margin: 10px">

                        <div class="d-inline" style="width: 80px; padding-right: 4px">
                            <div style="font-size: 0.8em">Totalt</div>
                            <div style="font-weight: bold">0 Kr</div>
                        </div>

                        <div class="d-inline; d-flex align-items-center">
                            <div>
                                <a href="#" class="btn btn-success">Vagnen <i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #2b3c46">
            <div class="container">

                <a class="navbar-brand d-sm-none" asp-area="" asp-controller="Home" asp-action="Index">RockStart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-hamburger" style="color: #fff; font-size: 28px"></i></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Hem</a>
                        </li>
                        <li class="nav-item dropdown">
                            @await Component.InvokeAsync("CategoryMenuList")
                        </li>
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="QandA" asp-action="Index"><i class="far fa-question-circle"></i> Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Contact" asp-action="Index"><i class="far fa-comments"></i> Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="About" asp-action="Index"><i class="far fa-question-circle"></i> Om oss</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container border-top footer text-dark">
        @*<div class="container">
            &copy; 2020 - Webshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a>Adress: Liljeholmskajen 2, 123 21 Stockholm Tel: 08-12 34 52 Email: info@orkester.se</a>
        </div>*@
        @*<div class="row">
            <div class="col">
                &copy;Orkeseter.se @DateTime.Now.Year | <a href="#">Kontakta Oss</a>
                <a>Adress: Liljeholmskajen 2, 123 21 Stockholm Tel: 08-12 34 52 Email: info@orkester.se</a>
            </div>
        </div>*@
        &copy;Orkester.se @DateTime.Now.Year | <a href="#">Kontakta Oss</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a59e8a19b5.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
