@model AllProductsViewModel

    <div class="col-sm-12 col-md-6 col-lg-4 mb-5 d-flex justify-content-center">
        <div class="card text-center shadow rounded border-0 product">

            <div class="rounded product-image">
                <img src="@Url.Content("~/Image/" + @Model.Photo)" alt="@Model.Name" />


                @if (!User.IsInRole("Admin"))
                {
                    <ul class="actions">
                        <li><a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" data-tip="Visa" id="product-detail"><i class="far fa-eye"></i></a></li>
                    </ul>
                    <button class="btn add-to-cart" onclick="AddCrapToCart(@Model.Id, '@Model.Name')"><i class="fas fa-cart-arrow-down"></i> Köp skiten!</button>
                }
                else
                {
                    <ul class="actions">
                        <li><a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" data-tip="Visa" id="product-detail"><i class="far fa-eye"></i></a></li>
                        <li><a asp-controller="Product" asp-action="EditProduct" asp-route-id="@Model.Id" data-tip="Ändra" id="product-edit"><i class="far fa-edit"></i></a></li>
                        <li><a class="text-danger" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@Model.Id" data-tip="Ta bort"><i class="fas fa-trash-alt"></i></a></li>
                    </ul>
                }
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h6 class="card-subtitle mb-2" style="color: #bdb8ae">@Model.BrandName - @Model.CategoryName</h6>
                @if (Model.ActiveProduct == false)
                {
                    <a class="text-danger">Produkten är inaktiv</a>
                }
                else
                {
                    @if (Model.Discount == 0)
                    {
                        <h5 style="color: #7fe095; margin-top: 1.5em">@Model.Price.ToString("C0")</h5>
                    }
                    else
                    {
                        <span style="font-size: small; text-decoration: line-through">@Model.Price.ToString("C0")</span>
                        <h5 style="color: #7fe095">
                            @Model.DiscountPrice.ToString("C0")
                            <span style="font-size: small">-@((int)(Model.Discount * 100))%</span>
                        </h5>
                    }
                }

            </div>
            @*<div class="card text-center shadow bg-white rounded border-0">
        <div class="product-grid2">
            <div class="product-image2" style="overflow: hidden">

                <img class="pic-1 mx-auto d-block mt-2" style="height: 250px; width:auto;" src="@Url.Content("~/Image/" + @Model.Photo)" alt=" Bild på en/ett @Model.CategoryName saknas">
                <img class="pic-2 mx-auto d-block mt-2" style="transform:scale(1.1); height: 250px; width:auto;" src="@Url.Content("~/Image/" + @Model.Photo)" alt="Bild på en/ett @Model.CategoryName saknas">


                @if (!User.IsInRole("Admin"))
                {
                    <ul class="social">
                        <li><a style="color:violet" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" data-tip="Visa detaljer"><i class="fa fa-eye"></i></a></li>
                    </ul>
                        <button class="add-to-cart add-to-cart" onclick="AddCrapToCart(@Model.Id, '@Model.Name')">Köp skiten!</button>
                }
                else
                {
                    <ul class="social">
                        <li><a class="" style="color:violet" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" data-tip="Visa detaljer"><i class="fa fa-eye"></i></a></li>
                        <li><a class="" style="color:greenyellow" asp-controller="Product"asp-action="EditProduct" asp-route-id="@Model.Id" data-tip="Ändra produkt"><i class="fa fa-edit"></i></a></li>
                        <li><a class="" style="color:red;" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@Model.Id" data-tip="Ta bort"><i class="fa fa-trash"></i></a></li>
                    </ul>
                }

            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.BrandName - @Model.CategoryName</h6>
                @if (Model.ActiveProduct == false)
                {
                    <a class="text-danger">Produkten är inaktiv</a>
                }
                else
                {
                <a>&nbsp;</a>
                }
                @if (Model.Discount == 0)
                {
                    <h5 class="card-title text-success">@Model.Price.ToString("C0")</h5>
                }
                else
                {
                    <span style="font-size: small; text-decoration: line-through">@Model.Price.ToString("C0")</span>
                    <h5 class="card-title text-success">
                        @Model.DiscountPrice.ToString("C0")
                        <span style="font-size: small">-@((int)(Model.Discount * 100))%</span>
                    </h5>
                }

                <p>
                    @if (@Model.Quantity == 0)
                    {
                        <i class="fas fa-skull-crossbones"></i> <span class="text-danger">Ej i lager</span>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </p>
            </div>
        </div>*@
        </div>
    </div>
