@model AllProductsViewModel
@*@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}*@

<div class="col-md-5 col-lg-4">
    <div class="card text-center m-2 shadow p-3 mb-5 bg-white rounded border-0">
        <div class="product-grid2">
            <div class="product-image2">

                <img class="pic-1 mx-auto d-block mt-2" style="height: 250px; width:auto;" src="@Url.Content("~/Image/" + @Model.Photo)" alt=" Bild på en/ett @Model.CategoryName saknas">
                <img class="pic-2 mx-auto d-block mt-2" style="transform:scale(1.1); height: 250px; width:auto;" src="@Url.Content("~/Image/" + @Model.Photo)" alt="Bild på en/ett @Model.CategoryName saknas">


                @if (!User.IsInRole("Admin"))
                {
                    <ul class="social">
                        <li><a style="color:violet" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" data-tip="Visa detaljer"><i class="fa fa-eye"></i></a></li>
                    </ul>                          
                        <button class="add-to-cart add-to-cart" onclick="AddCrapToCart(@Model.Id, '@Model.Name')">Köp skiten!</button>                   
                }
                else
                {
                    <ul class="social">
                        <li><a class="" style="color:violet" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" data-tip="Visa detaljer"><i class="fa fa-eye"></i></a></li>
                        <li><a class="" style="color:greenyellow" asp-controller="Product"asp-action="EditProduct" asp-route-id="@Model.Id" data-tip="Ändra produkt"><i class="fa fa-edit"></i></a></li>
                        <li><a class="" style="color:red;" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@Model.Id" data-tip="Ta bort"><i class="fa fa-trash"></i></a></li>
                    </ul>
                }

            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.BrandName - @Model.CategoryName</h6>
                <a>&nbsp;</a>
                @if (Model.Discount == 0)
                {
                    <h5 class="card-title text-success">@Model.Price.ToString("C0")</h5>
                }
                else
                {
                    <span style="font-size: small; text-decoration: line-through">@Model.Price.ToString("C0")</span>
                    <h5 class="card-title text-success">
                        @Model.DiscountPrice.ToString("C0")
                        <span style="font-size: small">-@((int)(Model.Discount * 100))%</span>
                    </h5>
                }

                <p>
                    @if (@Model.Quantity == 0)
                    {
                        <i class="fas fa-skull-crossbones"></i> <span class="text-danger">Ej i lager</span>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </p>
            </div>
        </div>
    </div>
</div>
