@model IEnumerable<AllProductsViewModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = "Rock★Start - Alla Produkter";
}
@*<div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active" aria-current="page">AllProducts</li>

            </ol>
        </nav>
    </div>*@
<partial name="_AddToCartMessagePartial" />

@if (TempData["Deleted"] != null)
{

    <p>
        <font size="6">
            <span style="color: red;">
                @TempData["Deleted"]
            </span>
        </font>
    </p>

}

@if (TempData["Succesmsg"] != null)

{
    <div class="alert alert-success" role="alert">
        @TempData["Succesmsg"]
    </div>
}

@if (TempData["OrderCreated"] != null)

{
    <div class="alert alert-success" role="alert">
        @TempData["OrderCreated"]
    </div>
}
 

@if (TempData["EditSuccesmsg"] != null)

{
    <div class="alert alert-success" role="alert">
        @TempData["EditSuccesmsg"]
    </div>
}



<h1>Alla Produkter</h1>
<div align="right">
    @if (User.IsInRole("Admin"))
    {

        <a href='@Url.Action("CreateProduct", "Product")'>
            <input type='button' class="btn btn-success" value='Lägg till Ny Produkt' />
        </a>

    }
</div>

<div class="container">
    <div class=" row justify-content-center">

        @foreach (var item in Model)
        {
            <partial name="_Productpartial" model="item" />
        }
    </div>
    <div style="display: none" id="AntiForgeryToken">@GetAntiXsrfRequestToken()</div>
</div>
