@model EditProductModel

@{
    ViewData["Title"] = "Rock★Start - Uppdatera";
}

<h1>Redigera Produkten</h1>

@if (TempData["Database error"] != null)
{

    <p>
        <font size="6">
            <span style="color: red;">
                @TempData["EditDatabase error"]
            </span>
        </font>
    </p>

}
<hr />

@*<a asp-controller="Product" asp-action="EditSpecifications" asp-route-id="@Model.Id" class="btn btn-outline-dark">Uppdatera Specifikationer</a>*@

<div class="row">
    <div class="">
        <form asp-action="EditProduct" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Namn</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceToConvert" class="control-label">Pris</label>
                <input asp-for="PriceToConvert" class="form-control" />
                <span asp-validation-for="PriceToConvert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountToConvert" class="control-label">Rabatt</label>
                <input asp-for="DiscountToConvert" class="form-control" />
                <span asp-validation-for="DiscountToConvert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Antal</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kategori</label>
                <select asp-for="CategoryId" class="form-control">
                    <option>Välj</option>
                    @foreach (var item in Model.categoryVM)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }

                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label">Märke</label>
                <select asp-for="BrandId" class="form-control">
                    <option>Välj</option>
                    @foreach (var item in Model.brandVM)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label">Bild</label>
                <input type="hidden" asp-for="Photo" />
                <br />
                <input name="file" type="file" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <a>FullBeskrivning</a>
            <textarea asp-for="FullDescription" id="editor"></textarea>
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor'))
                    .then(editor => {
                        console.log(editor);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>
            <p>	&nbsp;</p>
            <a>Specifikationer</a>

            <textarea asp-for="Specification" id="editor2"></textarea>
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor2'))
                    .then(editor => {
                        console.log(editor);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>

            <a>	&nbsp;</a>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="AllProducts" class="btn btn-info">Tillbaka till alla produkter</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
