@model SpecificationModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (TempData["SpecpsUpdated"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SpecpsUpdated"]
    </div>
}

<h3>Specifikationer för @Model.Product.Name</h3>

<img src="~/Image/@Model.Product.Photo" alt="@Model.Product.Name" style="height: 120px; width: auto" />

<form method="post" asp-action="EditSpecifications">
    <input type="hidden" asp-for="@Model.Product.Id" />
    <table class="table table-striped" id="specInfoField" style="max-width: 500px">
        @if (Model.SpecificationsList != null)
        {
            @for (var i = 0; i < Model.SpecificationsList.Count; i++)
            {
                <tr id="specFieldId_@i">
                    <td><input type="text" asp-for="@Model.SpecificationsList[i].SpecTitle" class="form-control" /></td>
                    <td><input type="text" asp-for="@Model.SpecificationsList[i].SpecInfo" class="form-control" /></td>
                    <td><span class="btn btn-outline-info" onclick="RemoveSpecField(@i)">radera</span></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td><input type="text" asp-for="@Model.SpecificationsList[0].SpecTitle" class="form-control" /></td>
                <td><input type="text" asp-for="@Model.SpecificationsList[0].SpecInfo" class="form-control" /></td>
                <td><span class="btn btn-outline-info" onclick="RemoveSpecField(0)">radera</span></td>
            </tr>
        }
    </table>
    <input type="submit" name="submit" class="btn btn-outline-info" value="Spara" />
</form>

<button type="button" class="btn btn-outline-info" onclick="AddField()">Lägg Till</button>

<script>

let index = @((Model.SpecificationsList != null) ? @Model.SpecificationsList.Count - 1 : 0);

    function AddField() {

        index++;
        console.log(index);

        // Create elements
        let tr = document.createElement("tr");
        let td_1 = document.createElement("td");
        let td_2 = document.createElement("td");
        let td_3 = document.createElement("td");
        let input_1 = document.createElement("input");
        let input_2 = document.createElement("input");
        let span = document.createElement("span");

        // Style input elements
        let bootstrap = 'form-control';

        tr.setAttribute('id', 'specFieldId_' + index);
        input_1.setAttribute('class', bootstrap);
        input_2.setAttribute('class', bootstrap);
        span.setAttribute('class', 'btn btn-outline-info');
        span.innerHTML = 'radera';

        // Set id
        input_1.setAttribute('name', 'SpecificationsList[' + (index) + '].SpecTitle');
        input_2.setAttribute('name', 'SpecificationsList[' + (index) + '].SpecInfo');
        span.setAttribute('onclick', 'RemoveSpecField(' + (index) + ')');

        // Append input fields to td tags
        td_1.appendChild(input_1);
        td_2.appendChild(input_2);
        td_3.appendChild(span);


        // Appen td tags to the tr element
        tr.appendChild(td_1);
        tr.appendChild(td_2);
        tr.appendChild(td_3);

        document.getElementById("specInfoField").appendChild(tr);
    }


    function RemoveSpecField(id) {


        let parent = document.getElementById('specFieldId_' + id);
        var input = parent.querySelectorAll("input");

        input.forEach(function (item) {
            item.value = null;
        });

        document.getElementById('specFieldId_' + id).style.display = "none";
        //index--;

        console.log(index);
    }

</script>
