@model Webshop.Models.Product

@{
    ViewData["Title"] = "ProductDetail";
}

<h1>Produktinformation</h1>

<div class="bg-deletetOrDetailsProduct">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
    </dl>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-lg" style="color:blue" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit"></i></a>
        <a class="btn btn-lg" style="color:red;" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@Model.Id"><i class="fa fa-trash"></i></a>
    }
    <form asp-action="AllProducts" method="get">
        <div class="form-group">
            <input type="submit" value="Tillbaka till alla produkter" class="btn btn-success" a asp-action="AllProducts" />

        </div>
    </form>
</div>
