@model EditBrandModel

@{
    ViewData["Title"] = "Tillverkare";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href='@Url.Action("AllProducts", "Product")'>AllProducts</a></li>
        <li class="breadcrumb-item"><a href='@Url.Action("CreateProduct", "Product")'>Lägg till Ny Produkt</a></li>
        <li class="breadcrumb-item active" aria-current="page">Skapa NyMärke</li>
    </ol>
</nav>

<span asp-validation-for="Name" class="text-danger" style="margin-left: 30px"></span>
<form asp-action="Edit" method="post" class="form-inline">

    @if (Model.Id > 0)
    {
        <div class="form-group mx-sm-3 mb-2" style="width: 300px">
            <input type="hidden" asp-for="Id" />
            <input type="text" asp-for="Name" class="form-control" id="newBrand" value="@Model.Name" style="width: 300px" />
        </div>
        <button type="submit" class="btn btn-warning mb-2 mr-2">Uppdatera</button> <span><a asp-action="Index" asp-route-id="">(Skapa ny tillverkare)</a></span>
    }
    else
    {
        <div class="form-group mx-sm-3 mb-2" style="width: 300px">
            <input type="text" asp-for="Name" class="form-control" id="newBrand" placeholder="Ny tillverkare..." style=" width: 300px" />
        </div>
        <button type="submit" class="btn btn-success mb-2">Skapa Ny</button>
    }
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Tillverkare</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model.BrandsCollection)
        {
            <tr>
                <td>@brand.Name</td>
                <td>
                    <a asp-action="Index" asp-route-id="@brand.Id">Uppdatera</a> |
                    <a asp-action="Delete" asp-route-id="@brand.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
   
    <a href="#" onClick="history.go(-1); return false;">Tillbaka</a>


</div>
