@model Webshop.Models.OrderViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>OrderViewModel</h4>

@if (TempData["Address Null"] != null)

{
    <div class="alert alert-warning" role="alert">
        @TempData["Address Null"] Klick <a asp-action="EditUser" asp-controller="User"> här</a> för Uppdatera
        
    </div>
}
<hr />

<table>
    <tr>
        <td colspan="2">Dina varor</td>
        <td></td>
    </tr>
    @foreach (var product in Model.Products)
    {
    <tr>
        <td><img src="@Url.Content("~/Image/" + @product.Photo)" style="height: 80px; width: auto" /></td>
        <td>@product.Name</td>
        <td>
            @if (product.Quantity == 0)
            {
            <span><i class="fas fa-exclamation-triangle" style="color: yellow"></i></span>
            }
            else
            {
               <span><i class="far fa-check-square" style="color: green"></i></span>
            }
        </td>
    </tr>
    }
</table>


@*@if (TempData["Address Null"] == null)
{*@
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index" method="post" asp-controller="Order">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*TODO.. check address*@
                <div class="form-group">
                    <label asp-for="PaymentMethodId" class="control-label"></label>
                    @*//TODO*@
                    <select asp-for="PaymentMethodId" class="form-control">
                        <option>Välj</option>
                        @foreach (var item in Model.paymentMethodlist)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>
                    <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
                </div>           






                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
@*}*@

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
