@model OrderAndPaymentMethods

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Address Null"] != null)

{
    <div class="alert alert-warning" role="alert">
        @TempData["Address Null"] Klicka <a asp-action="EditUser" asp-controller="User">här</a> för uppdatera
    </div>
}


@if (TempData["QuantityOverload"] != null)
{<div class="alert alert-warning" role="alert">
        <i class="fas fa-info-circle"></i> @TempData["QuantityOverload"]
    </div>
}


@if (TempData["OrderError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["OrderError"]
    </div>
}


@if (TempData["PaymentMethodError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["PaymentMethodError"]
    </div>
}

<h1>Kassan</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Produkt</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Att Betala</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.OrderViewModel.Products)
        {
            <tr>
                <td><img src="@Url.Content("~/Image/" + @product.Photo)" style="height: 60px; width: auto" /></td>
                <td><a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@product.ProductId">@product.ProductName</a></td>
                <td>
                    @product.Amount x @product.Price.ToString("C0")
                    @if (product.Discount > 0)
                    {
                        <p style="font-size: small; color: green">-@((int)(product.Discount * 100))% Rabatt!</p>
                    }
                </td>
                <td>
                    @if (product.Discount == 0)
                    {
                        <p style="font-weight: bold">@product.TotalProductCost.ToString("C0")</p>
                    }
                    else
                    {
                        <p style="font-weight: bold">@product.TotalProductCostDiscount.ToString("C0")</p>
                    }
                </td>
                <td>
                    @if (product.QuantityInStock - product.Amount < 0)
                    {
                        <span><i class="fas fa-exclamation-triangle" style="color: orange"></i></span>
                        <span style="font-size: small">I lager: @product.QuantityInStock</span>
                    }
                    else
                    {
                        <span><i class="fas fa-check" style="color: green"></i></span>
                    }
                </td>
            </tr>
        }
</table>
<div class="row" style="display: inline">
    <div class="col ">
        <div class="text-success float-right" style="margin: 4px, 20px, 4px, 20px; font-size: 2em">@Model.OrderViewModel.OrderTotal.ToString("C0")</div>
    </div>
</div>


@if (Model.OrderViewModel.AddressComplete)
{
    <div class="row">

        <div class="col-md4 col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Din Fraktadress</h5>
                    <p>@Model.User.FirstName @Model.User.FirstName</p>
                    <p>@Model.User.StreetAddress</p>
                    <p>@Model.User.ZipCode, @Model.User.City</p>
                    Stämmer inte adressen? <a href="#">ändra här</a>
                </div>
            </div>
            <div class="form-group" style="margin-top: 17px">
                <button href="#" class="btn btn-warning" asp-action="Index" asp-controller="ShoppingCart">Gå tillbaka till kundkorgen</button>
                @*<input type="submit" value="Pay us now! Dammit!" class="btn btn-primary" />*@
            </div>
        </div>

        <div class="col-md-4" style="margin-top: -10px">
            <form asp-action="Index" method="post" asp-controller="Order" id="PayUsNow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="OrderViewModel.PaymentMethodId" class="control-label">Betalsätt</label>

                    <select asp-for="OrderViewModel.PaymentMethodId" class="form-control" id="paymentMethodDropdown">

                        <option>Välj</option>
                        @foreach (var item in Model.OrderViewModel.paymentMethodlist)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="OrderViewModel.PaymentMethodId" class="text-danger"></span>
                </div>


                <div id="paymentForms">
                    <div data-id="1" style="display:none;"><partial name="_KortPaymentPartial" model="@Model.CreditCardModel" /></div>
                    <div data-id="2" style="display:none;"><partial name="_SwishPaymentPartial" /></div>
                </div>




            </form>
        </div>
    </div>
}


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#paymentMethodDropdown').change(function () {

            //var selectedPaymentMethodId = $(this).val();

            $.get('/Order/CreditCardPayment/', /*+ selectedPaymentMethodId,*/ function (data) {
                $('#creditCardPayment').html(data);
                $('#creditCardPayment').fadeIn('fast');
            });
        });
    </script>*@
<script>
    document.getElementById("paymentMethodDropdown").addEventListener("change", function () {

        // Store selected payment Id from option element
        var selectedPaymentMethod = this.value;

        // Get parent div-element
        var parent = document.getElementById("paymentForms");

        // Get collectoin of child-elements
        var children = parent.children;

        console.log(children);

        // Iteratet through children
        for (var i = 0; i < children.length; i++) {

            // If selected payment matches a child, display it!
            if (children[i].dataset.id == selectedPaymentMethod)
                children[i].style.display = "block";
            else
                children[i].style.display = "none";
        }

        //document.getElementById("creditCardPayment").style.display = "block";
    });

    function SubmitPayment() {
        document.getElementById("PayUsNow").submit();
    }
</script>
