@model Rating
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Radera Kundomdömme";
}

<h3 class="mt-3 mb-3">Radera Kundomdömme?</h3>
<hr />

<div class="alert alert-danger" role="alert">
    Är du säker på att du vill radera detta kundomdömme/recension?
</div>

<h5>Kundomdömmer/Recension:</h5>
<table class="table table-borderless text-white table-responsive" style="background-color: rgba(255, 255, 255, 0.08); border-radius: 4px">
    <tr>
        <td>Betyg:</td>
        <td>@Model.Score av 5</td>
    </tr>
    <tr>
        <td>Datum:</td>
        <td>@Model.RateDate.ToShortDateString()</td>
    </tr>
    <tr>
        <td>Text:</td>
        <td>@Model.Comment</td>
    </tr>
</table>

<h5>Skrivet Av:</h5>
<table class="table table-borderless text-white table-responsive" style="background-color: rgba(255, 255, 255, 0.08); border-radius: 4px">
    <tr>
        <td>Användare:</td>
        <td><a href="#">@Model.User.FirstName @Model.User.LastName</a></td>
    </tr>
</table>

<h5>För Produkt:</h5>
<table class="table table-borderless text-white table-responsive" style="background-color: rgba(255, 255, 255, 0.08); border-radius: 4px">
    <tr>
        <td style="width: 80px"><img src="~/Image/@Model.Product.Photo" alt="@Model.Product.Name" style="object-fit: contain; height: 60px; width: 80px; background-color: #fff" class="rounded" /></td>
        <td style="vertical-align: middle"><a asp-action="ProductDetail" asp-controller="Product">@Model.Product.Name</a></td>
    </tr>
</table>

<hr />

<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.ProductId" />
    <input type="hidden" asp-for="@Model.UserEmail" value="@Model.User.Email" />
    <input type="submit" name="submit" class="btn btn-danger" value="Radera" />
</form>
